<header class="bg-gradient-to-r from-red-500 to-yellow-500 shadow-lg">
    <div class="container mx-auto px-4 py-6">
        <div class="flex flex-col sm:flex-row items-center justify-between gap-4">
            <div class="flex items-center gap-2">
                <img src="https://www.freeiconspng.com/uploads/file-pokeball-png-0.png" alt="Pokeball"
                    class="w-10 h-10 animate-spin-slow" />
                <h1 class="text-3xl font-bold text-white drop-shadow-lg">Chinpokomon DB</h1>
            </div>

        </div>
    </div>
</header>